GH_USER=diberry
OPENAI_API_KEY=
OPENAI_ENDPOINT=https://RESOURCE.openai.azure.com/openai/deployments/gpt-4.1-mini/chat/completions?api-version=2025-01-01-preview
OPENAI_MODEL=gpt-4.1-mini
OPENAI_TEMPERATURE=0.2
GH_TOKEN=